# filepath: /goinfre/lmattern/virtual-uav-slam/.gitignore
# Build outputs
*.d
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib

# PX4-specific
PX4-Autopilot/
build*/
*.px4

# ccache directory
.ccache/

# VSCode
.vscode/
.vscode-server/

# ROS
install/
build/
log/
.catkin_workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
